# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
__pycache__/
*.pyc
*.egg-info

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs
.idea/
.vscode/
.claude/

# Ruff stuff:
.ruff_cache/

# Temporary locations
tmp/
uv.lock

# Models
.models/
*.onnx